   * {
   	margin: 0; 
   	padding: 0;
   }
   html, body, #map, #page, #content{
      width: 100%;
      height: 100%;
  }
  body {
  	overflow: hidden;
  }
  
  /* Reset JQuery Mobile Stylesheet */
.ui-content {
	padding: 0;
	
}

#notFound {
	height: 200px;
	width: 200px;
	padding: 5px;
}

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}



/*////////////////////////////////////////////////////////////////
///////// allgemeine Styles  ///////////////////////////////////////////////
/////////////////////////////////////////////////////////////////*/
body {
	background-image: url(themes/images/background.jpg);
	background-color: black;
	background-repeat: repeat;
}

h1 {
	color: #FFEC8B
}

.ui-input-text {
	background-color: #f2f2f2
	
}

.bigImage {
	max-width: 50%;
	height: auto;
}





/*///////////////////////////////////////////////////////////////
/////////// Login Page /////////////////////////////////////////
///////////////////////////////////////////////////////////////*/

#frontImage {
	margin: 14.28% auto 10% 24%;
	
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #333333;
}



